body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.grey {
  background-color: #d1d2d4;
  padding: 20px 4px;
}
.parentsForThree {
  margin: 40px 0;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
}
.parentsForTwo {
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.red {
  width: 100%;
  height: 50%;
  background-color: red;
}

.orange {
  width: 100%;
  height: 50%;
  background-color: orange;
}

.yellow {
  width: 25%;
  height: 100%;
  background-color: yellow;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .parentsForTwo {
    width: 50%;
  }
  .yellow {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .parentsForTwo {
    width: 100%;
    height: 75%;
  }
  .yellow {
    width: 100%;
    height: 25%;
  }
}
