body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.grey {
  background-color: #d1d2d4;
  padding: 20px 4px;
}
.parentsForThree {
  margin: 40px 0;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
}
.lgreen {
  background-color: #8cc63f;
  width: 50%;
  height: 100%;
  order: 1;
}
.dgreen {
  background-color: #459544;
  width: 25%;
  height: 100%;
  order: 0;
}
.yellow {
  background-color: #f5ee3c;
  width: 25%;
  height: 100%;
  order: 2;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .lgreen {
    order: 0;
    width: 100%;
    height: 66.6%;
  }
  .dgreen {
    order: 1;
    width: 50%;
    height: 33.33%;
  }
  .yellow {
    order: 2;
    width: 50%;
    height: 33.3%;
  }
}

@media screen and (max-width: 600px) {
  .lgreen {
    order: 0;
    width: 100%;
    height: 50%;
  }
  .dgreen {
    order: 1;
    width: 100%;
    height: 20%;
  }
  .yellow {
    order: 2;
    width: 100%;
    height: 30%;
  }
}
